body{
  text-align: center;
}

.app-wrapper {
  display: grid; 
   
  grid-template-areas: 
  "header header header"
  "picture counter info"
  "chat chat chat";

  grid-template-columns: 600px 1fr 400px;
  grid-template-rows: 150px 1fr 200px;
  grid-gap: 5px;
  min-height: 100vh;
}

.app-wrapper > div {
  border-radius: 30px;
}

.header {
  grid-area: header;
  background-color: aquamarine;
}

.pictures {
  grid-area: picture;
  overflow: hidden;
}
.pictures img {
  width: 100%;
  display: block;
  padding: 0;
  }

.counter {
  grid-area: counter;
  background-color: rgb(77, 8, 238); 
}

.info {
  grid-area: info;
  background-color: cadetblue;
}

.chat {
  grid-area: chat;
  background-color: rgb(35, 128, 204);
}
